body {
  color: #403e30;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 12pt;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a, a:link, a:visited {
  color: #637c80;
  text-decoration: none;
  background-color: none;
}

#left {
  float:left;
  width:900px;
}

#right {
  margin-left:650px;
}

#wrapper {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#wrapper h1,h2,h3,h4 {
  color: #854b5b;
  font-weight:normal;
}

#wrapper h2 {
  font-size: 16pt;
}
